altgraph==0.17.4
bitarray==2.9.2
bitstring==4.1.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
ecdsa==0.18.0
esptool==4.7.0
et-xmlfile==1.1.0
idna==3.6
intelhex==2.3.0
macholib==1.16.3
openpyxl==3.1.2
packaging==24.0
pycparser==2.21
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
pyserial==3.5
PyYAML==6.0.1
reedsolo==1.7.0
requests==2.31.0
six==1.16.0
urllib3==2.1.0
